@using HiLaarIsch.Contract.DTOs
@model CustomerModel

<div class="page-header">
    <a class="btn btn-default pull-left" role="button" href="/">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>
    <h3 class="text-center">Bewerk Klant</h3>
</div>

@using (Html.BeginForm("edit", "customer", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.EditorForModel()

    <button type="submit" class="btn btn-primary btn-lg btn-block">Klant wijzigen</button>
}


@section scripts
{
    <script>
        $(function ()
        {
            var grouplevel = @((int)Model.GroupLevel);
            $("input[name='grouplevel'][value='"+grouplevel+"']").trigger("click");
        });
    </script>
}