@using HiLaarIsch.Contract.DTOs
@model CustomerModel

<div class="page-header">
    <a class="btn btn-default pull-left" role="button" href="/">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>
    <h3 class="text-center">Bewerk Klant</h3>
</div>

@using (Html.BeginForm("edit", "customer", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.EditorForModel()

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
            <button type="submit" class="btn btn-primary">Opslaan</button>
        </div>
    </div>
}