@using HiLaarIsch.Contract.DTOs
@model CustomerView[]
@if (Model.Any())
{
    <div class="list-group">
        @foreach (var item in Model.OrderBy(m => m.Firstname).ThenBy(m => m.Surname))
        {
            <a class="list-group-item" type="button" href="/customers/edit/@item.Id">
                @item.Firstname @item.Surname
                <span class="glyphicon glyphicon-pencil pull-right"></span>
            </a>
        }
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">Geen resultaten</div>
}

@section commands
{
    @Html.Partial(Partials.Commands.Add, "customers/new")
}