@using HiLaarIsch.Contract.DTOs
@model CustomerModel

<div class="page-header">
    <a class="btn btn-default pull-left" href="/">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>
    <h3 class="text-center">Nieuwe Klant</h3>
</div>

<form action="/customers/new" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()

    @Html.EditorForModel()

    <button type="submit" class="btn btn-primary btn-lg btn-block">Klant aanmaken</button>
</form>