@using HiLaarIsch.Contract.DTOs
@model CustomerModel

<form action="/customers/new" method="post" autocomplete="off">
    @Html.AntiForgeryToken()

    @Html.EditorForModel()

    <button type="submit" class="btn btn-primary btn-lg btn-block">Klant aanmaken</button>
</form>

@section commands { @Html.PartialBackCommand("customers") }