@using HiLaarIsch.Contract.DTOs
@model CustomerModel

<form action="/customers/new" id="customer-form" method="post" autocomplete="off" data-toggle="validator">
    @Html.AntiForgeryToken()

    @Html.EditorForModel()

    <button type="submit" class="btn btn-primary btn-lg btn-block">Klant aanmaken</button>
</form>

@section commands { @Html.PartialBackCommand("customers") }
@section scripts
{
    @Scripts.Render(Bundles.Scripts.BootstrapValidator)
}