@model IEnumerable<HiLaarIsch.Contract.DTOs.UserView>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                Basic panel example
            </div>
        </div>
    </div>
</div>