<form action="/account/login" method="post" class="form-login">
    @Html.AntiForgeryToken()
    <h2 class="form-login-heading">HiLaarisch inloggen</h2>

    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="E-mail" required>
    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Wachtwoord" required>

    <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
</form>

@section css { @Styles.Render(Bundles.Styles.login) }