@Styles.Render(Bundles.Styles.login)

<form action="/account/login" method="post" class="form-login">
    @Html.AntiForgeryToken()
    <h2 class="form-login-heading">HiLaarIsch inloggen</h2>

    <label for="inputEmail" class="sr-only">Email</label>
    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="E-mail" required>

    <label for="inputPassword" class="sr-only">Wachtwoord</label>
    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Wachtwoord" required>

    <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
</form>