@Styles.Render(Bundles.Styles.login)

<form class="form-login" action="/account/login" method="post">
    <h2 class="form-login-heading">HiLaarIsch inloggen</h2>

    <label for="inputEmail" class="sr-only">Email</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email" required>

    <label for="inputPassword" class="sr-only">Wachtwoord</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Wachtwoord" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>