@using QuantumHive.Core.Extensions
@{
    const string key = "validation-result";
}
<div class="modal fade" id="validation-modal" tabindex="-1" role="dialog" data-show="@ViewData.ContainsKey(key).ToLowerString()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Validatie fout</h4>
            </div>

            <div class="modal-body">
                <p>De volgende validatie fout heeft zich voorgedaan:</p>
                <div class="alert alert-warning" role="alert">
                    @if (ViewData.ContainsKey(key))
                    {
                        @ViewData[key]
                    }
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>

        </div>
    </div>
</div>