<div class="navbar-collapse collapse" id="navbar">
    <ul class="nav navbar-nav">
        <li><a href="/classes">Lessen</a></li>
        <li><a href="/customers">Klanten</a></li>
    </ul>

    <form action="/account/logoff" method="post" class="navbar-form navbar-right">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-default">Loguit</button>
    </form>
</div>