<div id="index-container"></div>

@section commands { @Html.PartialAddCommand("horses/new") }
@section scripts
{
    <script>
        $(function() {
            $.ajax({
                url: "/horses/list",
                cache: false,
                method: "get",
                success: function(data) {
                    $("#index-container").html(data);
                }
            });
        });
    </script>
}