@using HiLaarIsch.Contract.DTOs
@model IEnumerable<HorseView>

@if (Model.Any())
{
    <div class="list-group">
        @foreach (var horseView in Model)
        {
            <a href="/horses/edit/@horseView.Id" class="list-group-item">@horseView.Name</a>
        }    
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">Geen resultaten</div>
}
