<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HiLaarIsch</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render(Bundles.jQuery)
</body>
</html>